<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713448876853-m6o0r79qtn2jm79uad9m2sk9ibo8am2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713448876853-m6o0r79qtn2jm79uad9m2sk9ibo8am2q</string>
	<key>API_KEY</key>
	<string>AIzaSyBPel3NFhb-XG32UtOQi8F-74qG3FVg0wA</string>
	<key>GCM_SENDER_ID</key>
	<string>713448876853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhalyn.TestAPP</string>
	<key>PROJECT_ID</key>
	<string>allerscan1</string>
	<key>STORAGE_BUCKET</key>
	<string>allerscan1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713448876853:ios:cacae3b82c8552ea</string>
	<key>DATABASE_URL</key>
	<string>https://allerscan1.firebaseio.com</string>
</dict>
</plist>